body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.page-nav .link {
  display: block;
  padding: 24px 0;
}
.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  margin-left: auto;
}
.header-nav .logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.text-logo {
  color: #4d5ae5;
}
.page-nav .link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  display: block;
  padding: 24px 0;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}
.title {
  background-color: #2e2f42;
  padding: 188px 0;
}
.title h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.my-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.my-button:hover,
.my-button:focus {
  background-color: #404bbf;
}
/*features*/
.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.features {
  background-color: #ffffff;
}
.features li {
  width: calc((100% - 72px) / 4);
}
.section-title {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.features h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*team*/
.team {
  background-color: #f4f4fd;
}
.team-section {
  display: flex;
  gap: 24px;
  align-items: center;
}
.team-section li {
  width: calc((100% - 72px) / 4);
}
.colngs {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team li {
  background-color: #ffffff;
}
.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-top: 8px;
}
.team-list {
  padding: 32px 16px;
}

/*portfolio*/
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.container-portolio-img {
  background: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.portfolio h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
}
.portfolio h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}
.portfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.text-logo-footer {
  color: #4d5ae5;
}
.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-text {
  display: flex;
  width: 264px;
  padding-top: 16px;
}
